# Create Merged Dataset

In this workbook, you will read in the `trip` and `fare` files. You are welcome to use DataFrame and/or SparkSQL API as you desire as long as it produces the expected results.

Instructions:

1. Join both datasets such that you get a merged dataset with 21 unique fields. You need to determine how to join the dataset.
2. Once you create the merged dataset, you need to convert fields to the following types, since all fields were read is as string:
    * pickup_datetime and dropoff_datetime must be TIMESTAMP
    * passenger_count and rate_code must be INT
    * all other numeric fields must be FLOAT
    * the remaining fields stay as STRING
3. Save your merged and converted dataset to your own S3 bucket in parquet format.

You are welcome to add as many cells as you need below up until the next section. **You must include comments in your code.**

In [1]:
# Import findspark
import findspark
findspark.init()

# Import libraries
from pyspark import SparkContext
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("merge-data").getOrCreate()
sc    = spark.sparkContext      # get the context

In [3]:
# Check spark and sc
spark
sc

In [9]:
# Load datasets from sc using read.parquet
trip = spark.read.parquet("s3://bigdatateaching/nyctaxi-2013/parquet/trip/")
fare = spark.read.parquet("s3://bigdatateaching/nyctaxi-2013/parquet/fare/")

In [7]:
# Show data 
trip.show(3)
fare.show(3)

+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|           medallion|        hack_license|vendor_id|rate_code|store_and_fwd_flag|    pickup_datetime|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
|0F6CF8A85A039CDF3...|33BC9D03BE4E9B8E1...|      VTS|        1|              null|2013-04-20 20:22:00|2013-04-20 20:28:00|              1|              360|          .46|       -73.98571|      40.762817|       -73.978874|       40.762306|
|75148F5ED6DECC2B4...|FC93BBB797CBAA633...|      VTS|        1|              null|2013-04-19 20:22:00|2013-04-19 20:29:00|              1|              420|          .98|      -73.976372|      40.752708|       -73.987167|       40.746979|
|D0D9C0CD2B6E87AD6...|989738ED439E7B633...|      VTS|        1|              null|2013-04-20 19:55:00|2013-04-20 20:26:00|              1|             1860|        14.10|       -73.96035|      40.761929|       -73.767807|        40.76152|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+
only showing top 3 rows

+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+
|           medallion|        hack_license|vendor_id|    pickup_datetime|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+
|ABC075C8871353E9F...|F13B6FECD12C974E7...|      VTS|2013-04-09 18:11:00|         CRD|       11.5|        1|    0.5|      3.12|           0|       16.12|
|6F05C2D331B2178F3...|38A4C7A8805AF6713...|      VTS|2013-04-09 18:16:00|         CSH|        5.5|        1|    0.5|         0|           0|           7|
|A2B2E4DC64E3B3B9F...|902DEAA1A28E6022C...|      VTS|2013-04-09 18:08:00|         CRD|       15.5|        1|    0.5|         2|           0|          19|
+--------------------+--------------------+---------+-------------------+------------+-----------+---------+-------+----------+------------+------------+
only showing top 3 rows

In [41]:
# Register the datasets as SQL table
trip.createOrReplaceTempView("tr")
fare.createOrReplaceTempView("fa")

In [43]:
# Merge the two table using sql
merge_data = spark.sql("SELECT tr.medallion, tr.hack_license, tr.vendor_id, CAST(tr.rate_code AS INT), tr.store_and_fwd_flag, \
                        CAST(tr.pickup_datetime AS TIMESTAMP), CAST(tr.dropoff_datetime AS TIMESTAMP), CAST(tr.passenger_count AS INT), \
                        CAST(tr.trip_time_in_secs AS FLOAT), CAST(tr.trip_distance AS FLOAT), CAST(tr.pickup_longitude AS FLOAT), \
                        CAST(tr.pickup_latitude AS FLOAT), CAST(tr.dropoff_longitude AS FLOAT), CAST(tr.dropoff_latitude AS FLOAT), \
                        fa.payment_type, CAST(fa.fare_amount AS FLOAT), CAST(fa.surcharge AS FLOAT), CAST(fa.mta_tax AS FLOAT), \
                        CAST(fa.tip_amount AS FLOAT), CAST(fa.tolls_amount AS FLOAT), CAST(fa.total_amount AS FLOAT) \
                        FROM tr LEFT JOIN fa \
                        ON tr.medallion = fa.medallion \
                        AND tr.hack_license = fa.hack_license \
                        AND tr.vendor_id = fa.vendor_id \
                        AND tr.pickup_datetime = fa.pickup_datetime").cache()

In [44]:
# Print out the merged data
merge_data.show(3)

+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|           medallion|        hack_license|vendor_id|rate_code|store_and_fwd_flag|    pickup_datetime|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|00005007A9F30E289...|02015F5B7D1884620...|      CMT|        1|                 N|2013-05-20 02:15:05|2013-05-20 02:28:51|              2|            827.0|          5.3|        -74.0084|      40.740517|       -73.965195|       40.801292|         CRD|       17.5|      0.5|    0.5|       3.7|         0.0|        22.2|
|00005007A9F30E289...|0649DA10C83DE7C6A...|      CMT|        1|                 N|2013-05-14 20:28:38|2013-05-14 20:37:35|              1|            536.0|          1.7|        -73.9793|       40.73579|        -74.00354|       40.740307|         CRD|        8.5|      0.5|    0.5|       1.9|         0.0|        11.4|
|00005007A9F30E289...|0FD461760B482C0B2...|      CMT|        1|                 N|2013-11-18 01:41:18|2013-11-18 01:53:22|              1|            723.0|          3.2|      -73.987175|      40.722256|        -73.94967|        40.71564|         CSH|       12.0|      0.5|    0.5|       0.0|         0.0|        13.0|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
only showing top 3 rows

## In the following cells, please provide the requested code and output. Do not change the order and/or structure of the cells.

In the next cell, provide the code that saves your merged dataset to your S3 bucket.

In [47]:
merge_data.write.parquet("s3://anly502s3/a5_mergeData/")

In the next cell, print the schema of your merged dataset.

In [48]:
merge_data.printSchema()

root
 |-- medallion: string (nullable = true)
 |-- hack_license: string (nullable = true)
 |-- vendor_id: string (nullable = true)
 |-- rate_code: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_time_in_secs: float (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- pickup_longitude: float (nullable = true)
 |-- pickup_latitude: float (nullable = true)
 |-- dropoff_longitude: float (nullable = true)
 |-- dropoff_latitude: float (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- surcharge: float (nullable = true)
 |-- mta_tax: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- total_amount: float (nullable = true)

In the next cell, print the first 10 records of your merged dataset.

In [49]:
merge_data.show(10)

+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|           medallion|        hack_license|vendor_id|rate_code|store_and_fwd_flag|    pickup_datetime|   dropoff_datetime|passenger_count|trip_time_in_secs|trip_distance|pickup_longitude|pickup_latitude|dropoff_longitude|dropoff_latitude|payment_type|fare_amount|surcharge|mta_tax|tip_amount|tolls_amount|total_amount|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
|00005007A9F30E289...|02015F5B7D1884620...|      CMT|        1|                 N|2013-05-20 02:15:05|2013-05-20 02:28:51|              2|            827.0|          5.3|        -74.0084|      40.740517|       -73.965195|       40.801292|         CRD|       17.5|      0.5|    0.5|       3.7|         0.0|        22.2|
|00005007A9F30E289...|0649DA10C83DE7C6A...|      CMT|        1|                 N|2013-05-14 20:28:38|2013-05-14 20:37:35|              1|            536.0|          1.7|        -73.9793|       40.73579|        -74.00354|       40.740307|         CRD|        8.5|      0.5|    0.5|       1.9|         0.0|        11.4|
|00005007A9F30E289...|0FD461760B482C0B2...|      CMT|        1|                 N|2013-11-18 01:41:18|2013-11-18 01:53:22|              1|            723.0|          3.2|      -73.987175|      40.722256|        -73.94967|        40.71564|         CSH|       12.0|      0.5|    0.5|       0.0|         0.0|        13.0|
|00005007A9F30E289...|132A7AC13C8471488...|      CMT|        1|                 N|2013-07-30 19:17:33|2013-07-30 19:25:54|              1|            501.0|          1.1|      -73.980736|      40.753197|       -73.971275|       40.764122|         CRD|        7.0|      1.0|    0.5|       1.5|         0.0|        10.0|
|00005007A9F30E289...|18F924B3A1BC019F9...|      CMT|        1|                 Y|2013-07-10 01:09:09|2013-07-10 01:13:50|              2|            281.0|          0.8|        -74.0061|       40.73466|        -74.00618|        40.74375|         CRD|        5.0|      0.5|    0.5|       1.0|         0.0|         7.0|
|00005007A9F30E289...|1C533BFDA3D6D892F...|      CMT|        1|                 N|2013-05-07 15:23:15|2013-05-07 15:37:46|              1|            870.0|          1.5|      -73.986496|       40.73341|       -73.984604|       40.750008|         CRD|       10.5|      0.0|    0.5|      2.75|         0.0|       13.75|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|        1|                 N|2013-10-05 11:40:40|2013-10-05 11:57:20|              3|           1000.0|          3.7|       -73.96649|      40.789413|        -74.00306|       40.745758|         CRD|       15.0|      0.0|    0.5|      3.87|         0.0|       19.37|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|        1|                 Y|2013-10-11 11:18:25|2013-10-11 11:23:11|              1|            285.0|          0.9|         -73.997|       40.72245|       -73.986115|        40.72926|         CRD|        5.5|      0.0|    0.5|       1.0|         0.0|         7.0|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|        1|                 N|2013-10-14 14:41:18|2013-10-14 15:02:17|              1|           1259.0|          1.5|      -73.960266|       40.78176|        -73.96746|       40.763233|         CSH|       13.0|      0.0|    0.5|       0.0|         0.0|        13.5|
|00005007A9F30E289...|24C122A944FB8EE21...|      CMT|        1|                 N|2013-10-18 12:06:37|2013-10-18 12:13:09|              2|            392.0|          1.1|       -73.96292|      40.772476|       -73.954216|       40.786285|         CRD|        6.5|      0.0|    0.5|       1.0|         0.0|         8.0|
+--------------------+--------------------+---------+---------+------------------+-------------------+-------------------+---------------+-----------------+-------------+----------------+---------------+-----------------+----------------+------------+-----------+---------+-------+----------+------------+------------+
only showing top 10 rows

In the next cell, print the row count of your merged dataset.

In [50]:
# Count the data set
merge_data.count()

173185091

In [51]:
spark.stop()